 .admin-panel {
    display: flex;
    flex-direction: column-reverse;
  } 
  
  .sidebar {
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
  }
  .sidebar h3{
    text-align: center;
    padding: 1.5rem 0;
  }
  .sidebar i{
    padding-right: 15px;
  }
  .sidebar ul li {
    padding: 20px 20px;
}
.sidebar ul li:hover{
  background-color: red;
  cursor: pointer;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }   
  .Panel-nav nav{
    background-color: #000;
    color: #fff;
    height: 10%;
    width: 87% ;
    position: absolute;
    left: 13%;
  }
  .Panel-nav nav h3{
    margin-left: 35%;
    margin-top: 15px;
  }
  
   
  .visit-btn{
    background-color: #fff;
    padding: 1rem 0;
    
  }
  .visit-btn button{
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .writing{

    margin-left: 10px;


  }
