.cream-1 img{
    width: 100%;
}

.cream-1 p{
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
    font-size: 3rem;
     background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    text-align: center;
}
.creambtn{
    position: absolute;
    top: 65%;
    left: 42%;
    font-size: 2rem;
    width: 15%;
    background-color: transparent;
    border: 4px solid white;
    
    border-radius: 24px;
    color: white;
}
.creambtn:hover{
    background-color: red;
    color: white;
    border: 2px solid red;
}

.creamtext h2{
    padding: 0 1rem;
   text-align: start;
}
.creamtext p{
 padding: 0 1rem;
 line-height: 2rem;
}

.creamtext i{
   padding-right: 0.5rem;
   color: red; 
      
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products img{
    padding: 1rem 3rem;
}

/* Package Section */
#Pakage-heading {
    background-color: #fff;
}
#Pakage-heading h2{
    background-color: black;
    color: white;
}
.Pakage-section{
    width: 100%;
    display: flex;
}
.Pakage-section h5{
    background-color: red;
    color: white;
    border-radius: 10px;
}
.Pakage-section h6{
    color: red;
    font-size: x-large;
}

.month-3{
    width: 25%;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    margin: 1rem 1rem;
    height: 250px;
    /* animation-name: package;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}
.month-3 p{
    margin: 1rem 1.5rem;
}
.year-1{
    width: 25%; 
    text-align: center; 
    border: 1px solid red;
    border-radius: 10px;
    margin: 1rem 1rem;
    height: 250px;
    /* animation-name: package;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
     animation-iteration-count: infinite; */
} 
.year-1 p{
    margin: 1rem 1.5rem;
}
.year-2{
    width: 25%; 
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    margin: 1rem 1rem;
    height: 250px;
    /* animation-name: package;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}
.year-2 p{
    margin: 1rem 1.5rem;
}
.year-5{
    width: 25%;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    margin: 1rem 1rem;
    height: 250px;
    /* animation-name: package;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}
.year-5 p{
    margin: 1rem 1.5rem;
}

/* @keyframes package{
    0%{
        margin-top: 0.5rem;
        
    }
     25%{
         margin-top: 0.5rem;
         
        
    } 
    75%{
        margin-top: 1rem;
        
    }
    
 } */

@media(max-width:480px){
    .cream-1 img{
        width: 100%;
    }
    
    
    .cream-1 p{
        /* width: 100%; */
        font-size: 1.5rem;
        top: 17%;
        left: 25%; 
    }
    .creambtn{
        width: 30%;
        font-size: 1rem;
         top: 28%;
        left: 35%;  
    }
    .products{
        flex-direction: column;
    }
}

